[submodule ".dev/more-addons/odooapps"]
	path = .dev/more-addons/odooapps
	url = https://github.com/Qalisa/odooapps
	branch = 18.0
[submodule ".dev/more-addons/eqp_odoo_addons"]
	path = .dev/more-addons/eqp_odoo_addons
	url = https://github.com/Qalisa/eqp_odoo_addons
	branch = 18.0
[submodule ".dev/more-addons/partner-contact"]
	path = .dev/more-addons/partner-contact
	url = https://github.com/OCA/partner-contact
	branch = 18.0
[submodule ".dev/more-addons/l10n-france"]
	path = .dev/more-addons/l10n-france
	url = https://github.com/OCA/l10n-france
	branch = 18.0
[submodule ".dev/more-addons/server-tools"]
	path = .dev/more-addons/server-tools
	url = https://github.com/OCA/server-tools
	branch = 18.0
