---
const props = Astro.props;
import { Aside } from '@astrojs/starlight/components';
---
<Aside type='caution' title='En travaux 🚧 !'>
    Qalisa travaille actuellement sur cette documentation, n'hésitez pas à repasser plus tard. <br/>
    Si votre problème est urgent, contactez Qalisa par mail (<a href="mailto:contact@qalisa.fr">contact@qalisa.fr</a>) ou par téléphone.
</Aside>